<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/conversor-ui-arena-scala/src/main/scala/uqbar/scala/ejemplos/scala/conversor/vista/ConversorWindow.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uqbar.scala.ejemplos.scala.conversor.vista.ConversorRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="conversor-ui-arena-scala"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.system.class.loader=com.uqbar.apo.APOClassLoader"/>
</launchConfiguration>
